<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/other/service/404.html</location>
    </error-page>
    
    <servlet>
        <servlet-name>Lec2Task1</servlet-name>
        <servlet-class>lectures.lecture2.task1.servlets.RequestHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec2Task1</servlet-name>
        <url-pattern>/lec2task1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec2Task2</servlet-name>
        <servlet-class>lectures.lecture2.task2.servlets.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec2Task2</servlet-name>
        <url-pattern>/lec2task2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec3Task1</servlet-name>
        <servlet-class>lectures.lecture3.servlets.StudentManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec3Task1</servlet-name>
        <url-pattern>/lec3task1</url-pattern>
    </servlet-mapping>

    <!-- SPRINT 1 SERVLETS START -->
    <servlet>
        <servlet-name>Sprint1UserQueryHandler</servlet-name>
        <servlet-class>sprint.sprint1.servlets.UserQueryHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sprint1UserQueryHandler</servlet-name>
        <url-pattern>/sprint1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sprint1LoginHandler</servlet-name>
        <servlet-class>sprint.sprint1.servlets.LoginHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sprint1LoginHandler</servlet-name>
        <url-pattern>/sprint1_auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sprint1AdminQueryHandler</servlet-name>
        <servlet-class>sprint.sprint1.servlets.AdminQueryHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sprint1AdminQueryHandler</servlet-name>
        <url-pattern>/sprint1_admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sprint1ProfilePage</servlet-name>
        <servlet-class>sprint.sprint1.servlets.LoginHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sprint1ProfilePage</servlet-name>
        <url-pattern>/sprint1_profile</url-pattern>
    </servlet-mapping>
    <!-- //SPRINT 1 SERVLETS END -->

    <servlet>
        <servlet-name>Lec4Task1</servlet-name>
        <servlet-class>lectures.lecture4_5.servlets.StudentManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec4Task1</servlet-name>
        <url-pattern>/lec4task1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec6Task1</servlet-name>
        <servlet-class>lectures.lecture6.task1.SiteNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec6Task1</servlet-name>
        <url-pattern>/lec6task1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec6Task2</servlet-name>
        <servlet-class>lectures.lecture6.task2.FormDraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec6Task2</servlet-name>
        <url-pattern>/lec6task2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec6Task3</servlet-name>
        <servlet-class>lectures.lecture6.task3.servlets.SwitchLocaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec6Task3</servlet-name>
        <url-pattern>/lec6task3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec7Task1</servlet-name>
        <servlet-class>lectures.lecture7.task1.SessionFormHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec7Task1</servlet-name>
        <url-pattern>/lec7task1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec7Task2</servlet-name>
        <servlet-class>lectures.lecture7.task2.servlets.CardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec7Task2</servlet-name>
        <url-pattern>/lec7task2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lec7Task3</servlet-name>
        <servlet-class>lectures.lecture7.task3.servlets.LoginHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lec7Task3</servlet-name>
        <url-pattern>/lec7task3</url-pattern>
    </servlet-mapping>
</web-app>